<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Daniel's Personal Site</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <table cellspacing="40">
            <tr>
                <td><img src="static/images/daniel_mevs.png" width="220" height="250" alt="Daniel's photo"></td>
                <td>
                    <h1>Daniel Mevs</h1>
                    <p><em>Founder and CTO of <strong><a target="_blank">Rocky & Spike Tech Co.</a></strong></em></p>
                    <p>I am a Quality Software Engineer and Web Developer. I love writing code!</p>
                </td>
            </tr>
        </table>
        <hr>

        <h3>Favorite Tutorials</h3>
        <ul>
            <li>Python Essential Training</li>
            <li>Efficient Python Production Workflows</li>
        </ul>
        <hr>
        <h3>Work Experience</h3>
        <table>
            <thead>
                <tr>
                    <th>Dates</th>
                    <th>Work</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2018-2019</td>
                    <td>Data Scientist at Burwick Consulting</td>
                </tr>
                <tr>
                    <td>2019</td>
                    <td>Software Engineer Intern at Magic Studio</td>
                </tr>
                <tr>
                    <td>2021-2022</td>
                    <td>Quality Assurance Engineer at Red Violet</td>
                </tr>
                <tr>
                    <td>2022-present</td>
                    <td>Consultant at Ambient Consulting</td>
                </tr>
                <tr>
                    <td>2022-present</td>
                    <td>SW Quality Assurance Engineer at Protolabs</td>
                </tr>

            </tbody>
        </table>
        <hr>
        <h3>Skills</h3>
        <table>
            <tr>
                <td>
                    <table cellspacing="10">
                        <tr>
                            <td>Web Development</td>
                            <td>⭐⭐⭐⭐⭐</td>
                        </tr>
                        <tr>
                            <td>Mathematics</td>
                            <td>⭐⭐⭐</td>
                        </tr>
                        <tr>
                            <td>Automation</td>
                            <td>⭐⭐⭐⭐⭐</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table cellspacing="10">
                        <tr>
                            <td>Data Science</td>
                            <td>⭐⭐⭐⭐</td>
                        </tr>
                        <tr>
                            <td>Research</td>
                            <td>⭐⭐⭐⭐</td>
                        </tr>
                        <tr>
                            <td>Trivia</td>
                            <td>⭐⭐</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
        <hr>
        <br>
        <a href="contact-me.html">Contact Me</a>
        <br><br>
    </body>
</html>