<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Daniel's Personal Site</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="icon" href="static/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Top -->
        <div class="top-container">
            <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
            <div class="title-text">
                <h1>I'm Daniel</h1>
                <h2>a <span class="pro">pro</span>grammer.</h2>
            </div>
            <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img">
            <img src="static/images/mountain.png" alt="mountain-img">
            
        </div>
        <!-- Middle -->
        <div class="middle-container">
            <div class="profile">
              <img src="static/images/daniel_mevs.png" alt="" style="width: 200px; height: 200px;">
              <h2>Hello.</h2>
              <p class="intro">My name is Daniel Mevs, and I'm a motivated Software Engineer and life-long learner, focused on quality and exceeding clients' expectations. I specialize in Web Development, SW Quality Engineering, and Data Science.</p>
            </div>
            <hr>
            <div class="skills">
              <h2>My Skills.</h2>

              <div class="skill-row">
                <img class="web-img" src="https://media.giphy.com/media/juua9i2c2fA0AIp2iq/giphy.gif" alt="">
                <h3>Web Development</h3>
                <p>I love developing websites and apps and have been coding for 7 years! I started off on my coding journey by taking a course at Palm Beach State College about programming Minecraft objects with Python. I then decided to change my major from Business to Computer Science, and I haven't looked back since.</p>
              </div>
              <div class="skill-row">
                <img class="quality-img" src="https://media.giphy.com/media/7KGZJFG9CDr2xDbEyQ/giphy.gif" alt="">
                <h3>SW Quality Engineering</h3>
                <p>With two years of exerience as a SW Quality Engineer, I love automation and fixing bugs! Whether it's writting test-cases in Selenium, creating pipelines in Jenkins, or peer-reviewing code, I can't get enough of the "sweet-science."</p>
              </div>
            
            </div>
            <hr>
            <div class="contact-me">
              <h2>Get In Touch</h2>
              <h3>If you love coding as much as I do.</h3>
              <p class="contact-message">Feel free to email me if you are interested or have any questions.</p>
              <a class="btn" href="mailto:dannymevs@hotmail.com">CONTACT ME</a>
            </div>
          </div>
          
          <!-- Bottom -->
          <div class="bottom-container">
            <a class="footer-link" target="_blank" href="https://www.linkedin.com/in/dmevs/">LinkedIn</a>
            <a class="footer-link" target="_blank" href="https://github.com/DanielMevs">Github</a>
            <a class="footer-link" href="https://danielmevs.github.io/cv">Website</a>
            <p class="copyright">© 2023 Daniel Mevs.</p>
          </div>
          
        

    </body>
</html>